<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.common.dao.ApplicationEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.common.po.ApplicationEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="student_id" jdbcType="VARCHAR" property="student_id" />
    <result column="intention" jdbcType="VARCHAR" property="intention" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="sign_time" />
    <result column="stage" jdbcType="TINYINT" property="stage" />
    <result column="campus" jdbcType="VARCHAR" property="campus" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.xuzilin.common.po.ApplicationEntity">
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, student_id, intention, sign_time, stage, campus
  </sql>
  <sql id="Blob_Column_List">
    introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from application
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    insert into application (id, name, student_id, 
      intention, sign_time, stage, 
      campus, introduction)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{student_id,jdbcType=VARCHAR}, 
      #{intention,jdbcType=VARCHAR}, #{sign_time,jdbcType=TIMESTAMP}, #{stage,jdbcType=TINYINT}, 
      #{campus,jdbcType=VARCHAR}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    insert into application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="student_id != null">
        student_id,
      </if>
      <if test="intention != null">
        intention,
      </if>
      <if test="sign_time != null">
        sign_time,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="campus != null">
        campus,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="student_id != null">
        #{student_id,jdbcType=VARCHAR},
      </if>
      <if test="intention != null">
        #{intention,jdbcType=VARCHAR},
      </if>
      <if test="sign_time != null">
        #{sign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=TINYINT},
      </if>
      <if test="campus != null">
        #{campus,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    update application
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="student_id != null">
        student_id = #{student_id,jdbcType=VARCHAR},
      </if>
      <if test="intention != null">
        intention = #{intention,jdbcType=VARCHAR},
      </if>
      <if test="sign_time != null">
        sign_time = #{sign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=TINYINT},
      </if>
      <if test="campus != null">
        campus = #{campus,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    update application
    set name = #{name,jdbcType=VARCHAR},
      student_id = #{student_id,jdbcType=VARCHAR},
      intention = #{intention,jdbcType=VARCHAR},
      sign_time = #{sign_time,jdbcType=TIMESTAMP},
      stage = #{stage,jdbcType=TINYINT},
      campus = #{campus,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    update application
    set name = #{name,jdbcType=VARCHAR},
      student_id = #{student_id,jdbcType=VARCHAR},
      intention = #{intention,jdbcType=VARCHAR},
      sign_time = #{sign_time,jdbcType=TIMESTAMP},
      stage = #{stage,jdbcType=TINYINT},
      campus = #{campus,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>