<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xuzilin.common.dao.ApplicationEntityMapper">
  <resultMap id="BaseResultMap" type="cn.xuzilin.common.po.ApplicationEntity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="intention" jdbcType="INTEGER" property="intention" />
    <result column="sign_time" jdbcType="TIMESTAMP" property="sign_time" />
    <result column="intention2" jdbcType="INTEGER" property="intention2" />
    <result column="sid" jdbcType="INTEGER" property="sid" />
    <result column="stage" jdbcType="INTEGER" property="stage" />
    <result column="stage2" jdbcType="INTEGER" property="stage2" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.xuzilin.common.po.ApplicationEntity">
    <result column="introduction" jdbcType="LONGVARCHAR" property="introduction" />
  </resultMap>
  <sql id="Base_Column_List">
    id, intention, sign_time, intention2, sid, stage, stage2
  </sql>
  <sql id="Blob_Column_List">
    introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from application
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from application
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    insert into application (id, intention, sign_time, 
      intention2, sid, stage, 
      stage2, introduction)
    values (#{id,jdbcType=INTEGER}, #{intention,jdbcType=INTEGER}, #{sign_time,jdbcType=TIMESTAMP}, 
      #{intention2,jdbcType=INTEGER}, #{sid,jdbcType=INTEGER}, #{stage,jdbcType=INTEGER}, 
      #{stage2,jdbcType=INTEGER}, #{introduction,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    insert into application
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="intention != null">
        intention,
      </if>
      <if test="sign_time != null">
        sign_time,
      </if>
      <if test="intention2 != null">
        intention2,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="stage != null">
        stage,
      </if>
      <if test="stage2 != null">
        stage2,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="intention != null">
        #{intention,jdbcType=INTEGER},
      </if>
      <if test="sign_time != null">
        #{sign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="intention2 != null">
        #{intention2,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=INTEGER},
      </if>
      <if test="stage != null">
        #{stage,jdbcType=INTEGER},
      </if>
      <if test="stage2 != null">
        #{stage2,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    update application
    <set>
      <if test="intention != null">
        intention = #{intention,jdbcType=INTEGER},
      </if>
      <if test="sign_time != null">
        sign_time = #{sign_time,jdbcType=TIMESTAMP},
      </if>
      <if test="intention2 != null">
        intention2 = #{intention2,jdbcType=INTEGER},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=INTEGER},
      </if>
      <if test="stage != null">
        stage = #{stage,jdbcType=INTEGER},
      </if>
      <if test="stage2 != null">
        stage2 = #{stage2,jdbcType=INTEGER},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    update application
    set intention = #{intention,jdbcType=INTEGER},
      sign_time = #{sign_time,jdbcType=TIMESTAMP},
      intention2 = #{intention2,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      stage = #{stage,jdbcType=INTEGER},
      stage2 = #{stage2,jdbcType=INTEGER},
      introduction = #{introduction,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.xuzilin.common.po.ApplicationEntity">
    update application
    set intention = #{intention,jdbcType=INTEGER},
      sign_time = #{sign_time,jdbcType=TIMESTAMP},
      intention2 = #{intention2,jdbcType=INTEGER},
      sid = #{sid,jdbcType=INTEGER},
      stage = #{stage,jdbcType=INTEGER},
      stage2 = #{stage2,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>